.home_cards_container{
    display: flex;
    flex-wrap: wrap;
    height: 10px;
    width: calc(100%);
}
.home{
    height: 2000px;
}

@media screen and (max-width: 1023px) {
    .home{
    height: 2500px;
  }
}

@media screen and (max-width: 575px) {
  .home{
    height: 3100px;
  }
}
