table{
    /* border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px   5px #aaaaaa;
  margin: 100px auto;
  padding: 50px;
  width: calc(50%);
  border: 2px solid --darkblue; */

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 thead tr {
  background-color: #bfbfbf;
  color: #ffffff;
  text-align: left;
}

 th, td {
    padding: 12px 15px;
}
